// Base
$white: #FFFFFF;
$red: #E84118;
$gray: #969696;
$color-border: #DEDEDE;
$color-border--negative: #C23616;
$color-background: #FBFBFB;
$color-background--negative: $red;
$color-background-hover: #F5F5F5;
$color-body-background: #F0EFEA;

$border-radius: 6px;
$box-shadow: 0 3px 2px 0 #33333310;

// Input
$color-input-border: $color-border;
$color-input-background: $color-background;

// Button
$color-button-border: $color-border;
$color-button-background: $color-background;
$color-button-background-hover: $color-background-hover;
